<p id="notice"><%= notice %></p>

<div id="insights-container" class="container insight">
  <table id="insights" class="table table-striped">
    <thead>
      <tr>
        <th>詳細</th>
        <th>レース</th>
        <th>日時</th>
        <th>コース</th>
        <th>競走馬</th>
        <th>結果</th>
        <th>人気</th>
        <th>オッズ</th>
        <th>レコード</th>
        <th>上りタイム</th>
        <th>位置取り</th>
        <th>血統</th>
        <th>騎手</th>
        <th>調教師</th>
      </tr>
    </thead>
    <tbody>
      <% @insights.each do |insight| %>
        <tr>
          <td>
            <%= link_to '開く', insight %>
          </td>
          <td>
            <%= insight.race_display %>
          </td>
          <td>
            <%= insight.race_at_display %>
          </td>
          <td>
            <%= insight.course_display %>
          </td>
          <td>
            <%= insight.horse_display %>
          </td>
          <td>
            <%= insight.order_display %>
          </td>
          <td>
            <%= insight.popular_display %>
          </td>
          <td>
            <%= insight.odds %>
          </td>
          <td>
            <%= insight.record_time %>
          </td>
          <td>
            <%= insight.up_time %>
          </td>
          <td>
            <%= insight.position %>
          </td>
          <td>
            <span><%= insight.sire %></span>
            <span> </span>
            <span><%= insight.broodmare_sire %></span>
          </td>
          <td>
            <%= insight.jockey %>
          </td>
          <td>
            <%= insight.trainer %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
