<p id="notice"><%= notice %></p>

<p>
  <strong>Year:</strong>
  <%= @insight.year %>
</p>

<p>
  <strong>Month:</strong>
  <%= @insight.month %>
</p>

<p>
  <strong>Day:</strong>
  <%= @insight.day %>
</p>

<p>
  <strong>Location:</strong>
  <%= @insight.location %>
</p>

<p>
  <strong>Race number:</strong>
  <%= @insight.race_number %>
</p>

<p>
  <strong>Race name:</strong>
  <%= @insight.race_name %>
</p>

<p>
  <strong>A0:</strong>
  <%= @insight.a0 %>
</p>

<p>
  <strong>Course status:</strong>
  <%= @insight.course_status %>
</p>

<p>
  <strong>Distance:</strong>
  <%= @insight.distance %>
</p>

<p>
  <strong>Candidacy:</strong>
  <%= @insight.candidacy %>
</p>

<p>
  <strong>Post time:</strong>
  <%= @insight.post_time %>
</p>

<p>
  <strong>A1:</strong>
  <%= @insight.a1 %>
</p>

<p>
  <strong>A2:</strong>
  <%= @insight.a2 %>
</p>

<p>
  <strong>A3:</strong>
  <%= @insight.a3 %>
</p>

<p>
  <strong>Horse name:</strong>
  <%= @insight.horse_name %>
</p>

<p>
  <strong>Horse gender:</strong>
  <%= @insight.horse_gender %>
</p>

<p>
  <strong>Horse age:</strong>
  <%= @insight.horse_age %>
</p>

<p>
  <strong>Jockey:</strong>
  <%= @insight.jockey %>
</p>

<p>
  <strong>Weight carry:</strong>
  <%= @insight.weight_carry %>
</p>

<p>
  <strong>Order finish:</strong>
  <%= @insight.order_finish %>
</p>

<p>
  <strong>Order difference:</strong>
  <%= @insight.order_difference %>
</p>

<p>
  <strong>Popular:</strong>
  <%= @insight.popular %>
</p>

<p>
  <strong>Odds:</strong>
  <%= @insight.odds %>
</p>

<p>
  <strong>Record time:</strong>
  <%= @insight.record_time %>
</p>

<p>
  <strong>A4:</strong>
  <%= @insight.a4 %>
</p>

<p>
  <strong>A5:</strong>
  <%= @insight.a5 %>
</p>

<p>
  <strong>A6:</strong>
  <%= @insight.a6 %>
</p>

<p>
  <strong>A7:</strong>
  <%= @insight.a7 %>
</p>

<p>
  <strong>Position:</strong>
  <%= @insight.position %>
</p>

<p>
  <strong>Up time:</strong>
  <%= @insight.up_time %>
</p>

<p>
  <strong>A8:</strong>
  <%= @insight.a8 %>
</p>

<p>
  <strong>Trainer:</strong>
  <%= @insight.trainer %>
</p>

<p>
  <strong>Traing center:</strong>
  <%= @insight.traing_center %>
</p>

<p>
  <strong>A9:</strong>
  <%= @insight.a9 %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @insight.owner %>
</p>

<p>
  <strong>Farm:</strong>
  <%= @insight.farm %>
</p>

<p>
  <strong>Sire:</strong>
  <%= @insight.sire %>
</p>

<p>
  <strong>Broodmare sire:</strong>
  <%= @insight.broodmare_sire %>
</p>

<%= link_to 'Edit', edit_insight_path(@insight) %> |
<%= link_to 'Back', insights_path %>
